$black-bkg: #222222;
$title-color:#222222;
$pink-bkg: #F1E4E6;
$pink-color: #F18B99;
$sales-bkg: #4e4544;
$footer-bkg:#222224;
$white-bkg:#ffffff;
$text-color:#575757;
$extra-pink:#F16D7F;
$gray-op:#FBFBFB;
$dark-gray-op:#A4A4A4;
$black:#000000;
$dark-theme:#0B0C10;
$dark-theme-mid: #1F2833;