html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1599px) {
  .container {
    width: 92%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 92%;
  }
}

.middle-content__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222224;
}

.middle-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A4A4A4;
}

.popular__middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 96px 0 0 0;
}

.advantages__list {
  min-height: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
}

@media (max-width: 1599px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
}

.advantages {
  margin: 96px 0 0 0;
}

.advantages__list-suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 30px;
}

@media (max-width: 1599px) {
  .advantages__list-suggestions {
    margin: 48px 0 0 0;
    width: 360px;
  }
}

.list-suggestions__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding: 16px 0 0 0;
}

.list-suggestions__title {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding: 28px 0 0 0;
}

.delivery {
  margin-left: 230px;
}

@media (max-width: 1599px) {
  .delivery {
    margin-left: 0;
  }
}

.assurance {
  margin-right: 230px;
}

@media (max-width: 1599px) {
  .assurance {
    margin-right: 0;
    margin-bottom: 64px;
  }
}

.brand {
  display: flex;
}

.brand-img {
  width: 50%;
  height: 765px;
}

@media (max-width: 1599px) {
  .brand-img {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .brand-img {
    display: none;
  }
}

.brand__title-wrp {
  display: flex;
  flex-grow: 1;
  padding-left: 40px;
  align-items: center;
  background-color: #F1E4E6;
}

@media (max-width: 1599px) {
  .brand__title-wrp {
    width: 384.79px;
    padding: 0 0 0 40px;
  }
}

@media (max-width: 767px) {
  .brand__title-wrp {
    height: 363px;
    align-items: center;
    padding-left: 56px;
    padding-right: 56px;
  }
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
}

@media (max-width: 1599px) {
  .brand__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
  }
}

.brand__title-lower {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__title-pink {
  color: #F18B99;
}

.popular__browse-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
}

.browse__button-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-align: center;
  border: 1px solid #FF6A6A;
  padding: 15px 38px;
  margin: 63px 0 0 0;
  text-decoration: none;
}

.browse__button-text:hover,
.browse__button-text:focus {
  background-color: #F16D7F;
  opacity: 0,4;
  color: #FBFBFB;
  transition: 0.5s;
}

.begin-form__button {
  margin: 10px 0 0 0;
}

.begin-form__button:hover,
.begin-form__button:focus,
.begin-form__button:active {
  color: #6F6E6E;
  cursor: pointer;
}

.registration__button {
  display: flex;
  align-items: center;
  margin: 40px 0 96px 0;
  width: 167px;
  height: 50px;
}

.registration__button-button {
  background-color: #F16D7F;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  padding: 17px 66px 17px 30px;
}

.registration__button:hover .registration__button-button,
.registration__button:focus .registration__button-button {
  background-color: #ffffff;
  color: #F16D7F;
  cursor: pointer;
  transition: .5s;
  border: 1px solid #6F6E6E;
}

.registration__button:hover .registration_button-vector,
.registration__button:focus .registration_button-vector {
  fill: #F16D7F;
  cursor: pointer;
  transition: .5s;
}

.registration_button-vector {
  fill: #ffffff;
  position: absolute;
  padding-left: 130px;
  padding-right: 24px;
}

.cart__main-link {
  display: flex;
  justify-content: space-between;
  margin: 72px 0 0 0;
}

.cart__button {
  border: 1px solid #A4A4A4;
  text-decoration: none;
  display: flex;
  text-align: center;
}

.cart__button:hover .cart__button-text {
  background-color: #4e4544;
  color: #ffffff;
  transition: .5s;
}

.cart__button-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  padding: 16px 40px;
  text-transform: uppercase;
}

.cart__main-form-button {
  margin: 24px 0 0 0;
  border: none;
  width: 101px;
  height: 35px;
  text-decoration: none;
}

.cart__main-form-text {
  padding: 10px 15px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
  text-transform: uppercase;
  width: 72px;
  height: 13px;
}

.cart__main-form-button:hover .cart__main-form-text {
  background-color: #4e4544;
  color: #ffffff;
  transition: .5s;
}

.choice__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 64px;
}

.footer__begin {
  display: flex;
  justify-content: space-around;
  background-image: url(../img/footer-photo.jpg);
  background-size: 100%;
  min-height: 448px;
  align-items: center;
}

@media (max-width: 1599px) {
  .footer__begin {
    flex-direction: column;
    background-size: cover;
  }
}

.footer__begin-form-input {
  display: flex;
  margin: 32px 0 0 0;
}

.footer__begin-form-input-email {
  display: flex;
  align-items: center;
  background: #FBFBFB;
  width: 256px;
  height: 50px;
  border-radius: 20px 0 0 20px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  padding-left: 22px;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer__begin-form-input-email {
    margin-left: 0;
  }
}

.begin__form-input:hover,
.begin__form-input:focus,
.begin__form-input:active {
  color: #F16D7F;
  opacity: 0.7;
}

.footer__begin-form-button {
  background: #F16D7F;
  width: 100px;
  height: 50px;
  right: 300px;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.footer__begin-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 360px;
}

@media (max-width: 1599px) {
  .footer__begin-description {
    margin-bottom: 48px;
    margin-top: 53px;
  }
}

@media (max-width: 767px) {
  .footer__begin-description {
    margin-bottom: 59px;
    margin-top: 53px;
  }
}

.begin-description__text {
  min-width: 359px;
  padding: 30px 0 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

@media (max-width: 767px) {
  .begin-description__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}

.footer__begin-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media (max-width: 1599px) {
  .footer__begin-form {
    margin-bottom: 140px;
  }
}

@media (max-width: 767px) {
  .footer__begin-form {
    margin-bottom: 109px;
  }
}

.begin-form__footer {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.begin-text__footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin: 0 0 0 32px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .begin-text__footer {
    font-size: 14px;
    margin: 0 0 0 0;
  }
}

.footer__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
  min-height: 71px;
}

@media (max-width: 767px) {
  .footer__end {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer__end-link {
  display: flex;
  margin: 0 230px 0 0;
}

@media (max-width: 1599px) {
  .footer__end-link {
    margin: 0 40px 0 0;
  }
}

@media (max-width: 767px) {
  .footer__end-link {
    margin: 43px 0 0 0;
  }
}

.footer__end-rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin: 0 0 0 230px;
}

@media (max-width: 1599px) {
  .footer__end-rights {
    margin: 0 0 0 32px;
  }
}

@media (max-width: 767px) {
  .footer__end-rights {
    margin: 48px 0 9px 0;
  }
}

.link-logo__img {
  padding: 0 7px 0 0;
  fill: #F18B99;
}

.footer__end-link-logo:hover .logo__img-path,
.footer__end-link-logo:focus .logo__img-path {
  fill: #F16D7F;
  cursor: pointer;
  transition: 0.2s;
}

.footer__end-link-logo:hover .link-logo__img,
.footer__end-link-logo:focus .logo__img-path {
  fill: #0d9ddb;
  cursor: pointer;
  transition: 0.2s;
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: flex;
  min-height: 75px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1599px) {
  .header__container {
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .header__container {
    margin-left: 16px;
  }
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__menu-list {
  display: flex;
  align-items: center;
}

@media (max-width: 1599px) {
  .header__menu-list {
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .header__menu-list {
    margin-right: 0;
  }
}

.header__menu-list-nav-wrp {
  display: flex;
  align-items: center;
  position: relative;
}

.header__burger {
  border: none;
  background-color: transparent;
  position: relative;
}

@media (max-width: 767px) {
  .header__burger {
    margin-right: 16px;
  }
}

.header__link {
  margin: 0 0 0 33px;
}

.header__icon {
  fill: #9F9F9F;
}

@media (max-width: 767px) {
  .reg {
    display: none;
  }
}

@media (max-width: 767px) {
  .cart {
    display: none;
  }
}

.header__loupe:hover .header__icon,
.header__burger:hover .header__icon,
.header__link:hover .header__icon,
.header__loupe:focus .header__icon,
.header__burger:focus .header__icon,
.header__link:focus .header__icon {
  fill: #F18B99;
  cursor: pointer;
  opacity: 0.4;
  transition: .5s;
}

.header__nav {
  display: none;
  position: absolute;
  left: 150px;
  top: 60px;
  background-color: #ffffff;
  width: 232px;
  height: 764px;
}

.header__nav-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin: 37px 0 24px 34px;
}

.nav-item__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 11px 0 0 33px;
}

.nav-item__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A4A4A4;
  padding: 11px 0 0 54px;
}

.nav-item__item:hover,
.nav-item__item:focus,
.nav-item__item:active {
  text-decoration: underline;
  color: #F18B99;
  cursor: pointer;
}

.header__nav-list {
  padding: 0 0 0 12px;
}

.show {
  display: block;
}

.popular__list {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 48px 0 0 0;
}

@media (max-width: 1599px) {
  .popular__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.popular__list-item {
  background-color: #FBFBFB;
  width: 360px;
}

@media (max-width: 1599px) {
  .popular__list-item {
    height: 581px;
  }
}

.popular__list-item-wrp {
  position: relative;
}

.popular__list-item-wrp::before {
  content: '';
  background-color: #222222;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
}

.list-item__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  width: 200px;
  height: 40px;
  background-color: #FBFBFB;
  border: 2px solid #A4A4A4;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: 700;
}

.popular__list-item:hover .popular__list-item-wrp::before {
  cursor: pointer;
  opacity: 0.5;
  transition: .5s;
}

.popular__list-item:hover .list-item__button {
  opacity: 1;
  cursor: pointer;
}

.popular__list-item:active .list-item__button,
.popular__list-item:focus .list-item__button {
  opacity: 0.7;
  cursor: pointer;
  background-color: #F16D7F;
}

.list-item__header {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  padding: 25px 0 0 18px;
}

.list-item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #A4A4A4;
  padding: 12px 28px 0 18px;
}

.list-item__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 18px 0 20px 18px;
}

.popular__catalog-selectors {
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-top: 51px;
}

.popular__catalog-dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular__catalog-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.popular__catalog-title::after {
  content: url(/img/filter.svg);
  padding-left: 11px;
  margin-right: 400px;
}

.popular__catalog-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1599px) {
  .popular__list-item-extra {
    display: none;
  }
}

.popular__middle-content-link {
  text-decoration: none;
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 65px;
}

@media (max-width: 1599px) {
  .sales__list {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .sales__list {
    flex-direction: column;
    align-items: center;
  }
}

.sales__item {
  height: 260px;
  width: 360px;
  background-color: #4e4544;
}

@media (max-width: 1599px) {
  .sales__item {
    width: 30%;
    height: 167.62px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 91%;
    height: 247px;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sales__item--woman {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/for-women.jpg);
}

@media (max-width: 1599px) {
  .sales__item--woman {
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sales__item--man {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/for-men.jpg);
}

@media (max-width: 1599px) {
  .sales__item--man {
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sales__item--kids {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/for-kids.jpg);
}

@media (max-width: 1599px) {
  .sales__item--kids {
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sales__item--accesories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0 0 0;
  width: 100%;
  background-image: url(../img/accesories.jpg);
}

@media (max-width: 1599px) {
  .sales__item--accesories {
    width: 95%;
    height: 116.04px;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .sales__item--accesories {
    width: 91%;
    height: 111px;
    margin: 0 0 0 0;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sales__item-text {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.sales__item-title {
  padding: 5px 0 0 0;
  color: #F16D7F;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.registration__form {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .registration__form {
    flex-direction: column;
    align-items: center;
  }
}

.registration__form-wrp {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.registration__form-radio-choice {
  margin: 30px 0 0 0;
}

.registration__form-info {
  display: flex;
  flex-direction: column;
}

.registration__form-radio {
  display: flex;
}

.registration__warning {
  margin: 15px 0 0 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 359px;
}

.registration__header-text::before {
  content: url(../img/Vector_reg.svg);
  padding-right: 20px;
}

.registration__form-radio-choice {
  display: flex;
}

.radio-choice__text {
  padding-left: 10px;
}

.registration__form-radio-choice:nth-child(2) {
  margin-left: 20px;
}

.registration__bonus {
  width: 650px;
}

@media (max-width: 1599px) {
  .registration__bonus {
    margin: 0 0 0 22px;
  }
}

@media (max-width: 767px) {
  .registration__bonus {
    width: 95%;
    margin: 40px 9px 100px 9px;
  }
}

.registration__header {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
  padding: 64px 0 0 0;
}

.registration__header-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 20px 0 0 0;
}

.registration__header-description {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 20px 0 0 0;
}

.decoration__element {
  background-color: #F1E4E6;
}

.decoration__title {
  display: flex;
  align-items: center;
  color: #F16D7F;
  min-height: 148px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .decoration__title {
    justify-content: center;
  }
}

.cart__main {
  display: flex;
  margin-bottom: 130px;
  justify-content: space-between;
}

.cart__main-card {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
}

.main-card__item {
  display: flex;
  position: relative;
  background-color: #ffffff;
  width: 652px;
  height: 306px;
  margin: 40px 0 0 0;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.main-card__item:first-child {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.main-card__item-text {
  display: flex;
  flex-direction: column;
}

.cart__main-title {
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 22px 0 0 31px;
  width: 262px;
}

.cart__main-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding: 6px 0 0 31px;
}

.main-card__item-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 24px;
  top: 29px;
}

.cart__main-text:first-child {
  margin: 42px 0 0 0;
}

.main__card-price {
  color: #F16D7F;
}

.cart__main-form {
  display: flex;
  flex-direction: column;
  margin: 113px 0 0 0;
}

.cart__main-form-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.input {
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  margin: 20px 0 0 0;
  padding: 0 0 0 16px;
}

.input:hover,
.input:focus,
.input:active {
  color: #FBFBFB;
  background-color: #F16D7F;
  transition: .3s;
}

.registration__input-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222224;
  margin: 35px 0 0 0;
}

.registration__input-title:first-child {
  margin: 64px 0 0 0;
}

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 72%;
  margin-top: -50px;
}

.choice__description {
  width: 641px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #A4A4A4;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .choice__description {
    width: 326px;
  }
}

.choice__description-selector {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  border-bottom: 3px solid #F16D7F;
  padding-bottom: 12px;
  margin-top: 64px;
}

.choice__description-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #A4A4A4;
  margin-top: 12px;
}

.choice__description-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A4A4A4;
  max-width: 555px;
  margin-top: 48px;
}

@media (max-width: 767px) {
  .choice__description-text {
    line-height: 143.1%;
    width: 326px;
  }
}

.choice__description-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-top: 32px;
}

.choice__dropdowns {
  display: flex;
  margin-top: 65px;
}

.choice__dropdowns-text {
  margin-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.choice__dropdowns-text:first-child {
  margin-left: 0;
}

.choice__dropdowns-text::after {
  content: url(/img/choice-vector.svg);
  padding-left: 9px;
}

.choice__link::before {
  content: url(/img/choice-cart-svg.svg);
  padding-right: 22px;
}

.choice__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F16D7F;
  background-color: #ffffff;
  color: #F16D7F;
  padding: 14px 56px 14px 23px;
  text-decoration: none;
}

.choice__link:hover {
  background-color: #F16D7F;
  color: #ffffff;
  transition: .4s;
  cursor: pointer;
}

.product__list {
  margin-bottom: 128px;
  justify-content: center;
}

@media (max-width: 1599px) {
  .product__list-item--women {
    display: none;
  }
}

@media (max-width: 767px) {
  .product__list-item--women {
    display: block;
  }
}

.product__decoration {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .product__decoration {
    flex-direction: column;
  }
}

.product__decoration-link-black {
  color: #000000;
  opacity: 0.3;
}

.catalog__links {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #A4A4A4;
  width: 284px;
  background-color: #FBFBFB;
  margin-left: 500px;
  margin-top: 48px;
  margin-bottom: 96px;
}

.catalog__links::before {
  content: url(/img/catalog-left-arrow.svg);
  padding-left: 15px;
  padding-right: 17px;
}

.catalog__links::after {
  content: url(/img/catalog-right-arrow.svg);
  padding-right: 15px;
  padding-left: 17px;
}

.catalog__links-text:last-child {
  padding: 12px 0 12px 0;
}

.catalog__links-text {
  text-decoration: none;
  text-decoration: none;
  color: #A4A4A4;
  padding: 12px 17px 12px 0px;
}
/*# sourceMappingURL=style.css.map */