.brand{
    display: flex;
}
.brand__img {
    width: 800px;
    height: 765px;
}
.brand__title-wrp{
    display: flex;
    flex-grow: 1;
    padding: 0 0 0 92px;
    align-items: center;
    background-color: $pink-bkg;
}
.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid #F16D7F;
    padding:0 0 0 16px;
}
.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}
.brand__title-pink {
    color: var(--pink-color);
}