.popular__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px; 
}
.popular__button-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    border: 1px solid #FF6A6A;
    padding: 15px 38px;
    margin:63px 0 0 0;
    text-decoration: none;
}
.popular__button-text:hover,
.popular__button-text:focus {
    background-color: #F16D7F;
    opacity: 0,4;
    color: #FBFBFB;
    transition: 0.5s;
}
/* .footer__form-button{
    margin:10px 0 0 0;
} */
.footer__form-button:hover,
.footer__form-button:focus,
.footer__form-button:active{
    color: #6F6E6E;
    cursor: pointer;
}
.registration__button{
    display: flex;
    align-items: center;
    margin:40px 0 96px 0;
    width: 167px;
    height: 50px;

}
.registration__button-button{
    background-color:#F16D7F;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    padding:17px 66px 17px 30px;
}
.registration__button:hover .registration__button-button,
.registration__button:focus .registration__button-button {
    background-color: #ffffff;
    color: #F16D7F;
    cursor: pointer;
    transition: .5s;
    border: 1px solid #6F6E6E;
}
.registration__button:hover .registration_button-vector,
.registration__button:focus .registration_button-vector {
    fill: #F16D7F;
    cursor: pointer;
    transition: .5s;
}
.registration_button-vector{
    fill: #ffffff;
    position: absolute;
    padding-left: 130px;
    padding-right: 24px;
}
.cart__link{
    display: flex;
    justify-content: space-between;
    margin: 72px 0 0 0;
}
.cart__button{
    border: 1px solid #A4A4A4;
    text-decoration: none;
    display: flex;
    text-align: center;
}
.cart__button:hover .cart__button-text{
    background-color: $sales-bkg;
    color: $white-bkg;
    transition: .5s;
}
.cart__button-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $black-bkg;
    padding: 16px 40px;
    text-transform: uppercase;
    @include mobile{
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        padding: 9px 17px;
    }
}
.cart__main-form-button{
    margin: 24px 0 0 0;
    border: none;
    width: 101px;
    height: 35px;
    text-decoration: none;
}
.cart__main-form-text{
    padding: 10px 15px;
    border: 1px solid $dark-gray-op;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: $black-bkg;
    text-transform: uppercase;
    width: 72px;
    height: 13px;
}
.cart__main-form-button:hover .cart__main-form-text{
    background-color: $sales-bkg;
    color: $white-bkg;
    transition: .5s;
}
.choice__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 64px;
}