.decoration__element{
    background-color:  #F8F3F4;
}
.decoration__title{
    display: flex;
    align-items: center;
    color: #F16D7F;
    min-height: 148px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}