.footer__begin{
    display: flex;
    justify-content: space-around;
    background-image: url(../img/footer-photo.jpg);
    min-height:448px;
    align-items: center;
}
.footer__begin-form-input{
    display: flex;
    margin:32px 0 0 0;
}
.begin__form-input{
    display: flex;
    align-items: center;
    background: #E1E1E1;
    width: 256px;
    height: 50px;
    border-radius: 20px 0 0 20px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    padding-left: 22px;
    margin-left: 40px;
}
.begin__form-input:hover,
.begin__form-input:focus,
.begin__form-input:active{
    color: #F16D7F;
    opacity: 0.7;
}
.begin__form-button{
    background: #F16D7F;
    width: 100px;
    height: 50px;
    right: 300px;
    border:none;
    border-radius: 0 20px 20px 0;
    padding: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer__begin-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 360px;
}
.begin-description__text{
    min-width: 359px;
    padding:30px 0 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;

}
.footer__begin-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.begin-form__header{
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}
.begin-form__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin:0 0 0 32px;
    text-transform: uppercase;
}
.footer__end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$footer-bkg;
    min-height:71px;
}
.footer__end-link{
    display: flex;
    margin:0 230px 0 0;
}
.footer__end-rights{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin: 0 0 0 230px;
}
.link-logo__img{
    padding: 0 7px 0 0;
    fill: #F18B99;
}
.end-link__logo:hover .logo__img-path,
.end-link__logo:focus .logo__img-path {
    fill: #F16D7F;
    cursor: pointer;
    transition: 0.2s;
}
.end-link__logo:hover .link-logo__img,
.end-link__logo:focus .logo__img-path {
    fill: #0d9ddb;
    cursor: pointer;
    transition: 0.2s;
}