.header__nav{
    display: none;
    position: absolute;
    left:150px;
    top:60px;
    background-color: $white-bkg;
    width:232px;
    height: 764px;
}   
.header__nav-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    text-transform: uppercase;
    margin:37px 0 24px 34px;
}
.nav-item__title{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $extra-pink;
    text-transform: uppercase;
    padding:11px 0 0 33px;
}
.nav-item__item{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $dark-gray-op;
    padding:11px 0 0 54px;
}
.nav-item__item:hover,
.nav-item__item:focus,
.nav-item__item:active {
    text-decoration: underline;
    color: $pink-color;
    cursor: pointer;
}
.header__nav-list{
    padding:0 0 0 12px;
}
.show {display: block;}