.popular__list{
    display: grid;
    gap:30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin:48px 0 0 0;
    @include tablet{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
} 
.popular__middle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:96px 0 0 0;
}
.popular__list-item{
    background-color: $gray-op;
    width: 360px;
    @include tablet{
        height: 581px;
    }
}
.popular__middle-content-title{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: $footer-bkg;
}
.popular__middle-content-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $dark-gray-op;
}
.popular__list-item-wrp{
    position: relative;
}
.popular__list-item-wrp::before{
    content: '';
    background-color: $black-bkg;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
}
.popular__list-item-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    width:200px;
    height:40px;
    background-color: $gray-op;
    border:2px solid $dark-gray-op ;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
}
.popular__list-item:hover .popular__list-item-wrp::before{
    cursor: pointer;
    opacity: 0.5;
    transition: .5s;
}
.popular__list-item:hover .list-item__button{
    opacity: 1;
    cursor: pointer;
}
.popular__list-item:active .list-item__button,
.popular__list-item:focus .list-item__button{
    opacity: 0.7;
    cursor: pointer;
    background-color: $extra-pink;
}
.popular__list-item-header{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $black;
    text-transform: uppercase;
    padding:25px 0 0 18px;
}
.popular__list-item-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $dark-gray-op;
    padding: 12px 28px 0 18px;
}
.popular__list-item-price{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $extra-pink; 
    padding: 18px 0 20px 18px;
}
.popular__catalog-selectors{
    display: flex;
    align-items: center;
    margin-top: 51px;
    width: 72%;
    @include tablet{
        width: 95%;
    }
}
.popular__catalog-dropdowns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular__catalog-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    text-transform: uppercase;
}
.popular__catalog-title::after{
    content: url(../img/filter.svg);
    padding-left: 11px;
    margin-right: 400px;
}
.popular__catalog-filter{
    display: flex;
    align-items: center;
}
.popular__list-item-extra{
    @include tablet {
        display: none;
    }
}
.popular__middle-content-link{
    text-decoration: none;
}