.registration__form{
    display: flex;
    justify-content: space-between;
}
.registration__form-wrp{
    display: flex;
    flex-direction: column;
    width: 360px;
}
.registration__input{
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    border: 1px solid #A4A4A4;
    margin: 20px 0 0 0;
    padding: 0 0 0 16px;
}
.registration__input:hover,
.registration__input:focus,
.registration__input:active{
    color:#E1E1E1;
    background-color:#F16D7F;
    transition: .3s;
}
.registration__input-title{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin:35px 0 0 0;
}
.registration__input-title:first-child{
    margin:64px 0 0 0;
}
.registration__form-radio-choice{
    margin:30px 0 0 0;
}
.registration__form-info{
    display: flex;
    flex-direction: column;
}
.registration__form-radio{
    display: flex;
}
.registration__warning{
    margin:15px 0 0 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    width: 359px;
}
.registration__header-text::before{
    content: url(../img/Vector_reg.svg);
    padding-right: 20px;
}
.registration__form-radio-choice{
    display: flex;
}
.radio-choice__text{
    padding-left: 10px;
}
.registration__form-radio-choice:nth-child(2) {
    margin-left: 20px;
}
.registration__bonus{
    width: 650px;
}
.registration__header{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase;
    padding: 64px 0 0 0;
}
.registration__header-text{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 20px 0 0 0;
}
.registration__header-description{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 20px 0 0 0;
}