.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
    @include tablet{
        justify-content: space-evenly;
    }
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
}
.sales__item {
    height: 260px;
    width: 360px;
    background-color: $sales-bkg;
    @include tablet{
        width: 30%;
        height: 167.62px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @include mobile{
        width:91%;
        height: 247px;
        margin-bottom: 32px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.sales__item--woman {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/for-women.jpg);
    @include tablet{
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.sales__item--man{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/for-men.jpg);
    @include tablet{
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.sales__item--kids{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/for-kids.jpg);
    @include tablet{
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.sales__item--accesories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:30px 0 0 0;
    width: 100%;
    background-image: url(../img/accesories.jpg);
    @include tablet{
        width: 95%;
        height: 116.04px;
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @include mobile{
        width:91%;
        height: 111px;
        margin:0 0 0 0;
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.sales__item-text{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.sales__item-title{
    padding: 5px 0 0 0 ;
    color:#F16D7F;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
